@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background-image: linear-gradient(to bottom, rgb(255,192,203), lightpink, floralwhite);
    color: rgb(0,0,0);
    font-family: 'Raleway';
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

